<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="p-5 bg-slate-300">
      <div class="flex justify-between max-w-screen-lg mx-auto">
        <%= link_to root_path, class: "text-3xl" do %>
          Blog App
        <% end %>
        <nav class="flex items-center	">
          <% if user_signed_in? %>
            <%= link_to new_user_post_path(@current_user.id)  do %>
              New Post
            <% end %>
          <% end %>
        </nav>
      </div>
    </header>

    <% flash.each do |type, msg| %>
      <div class=<%= type == "alert" ? "bg-red-300" : "bg-green-300" %>>
        <% if msg.instance_of? Array %>
          <% msg.each do |message| %>
            <p class="font-bold max-w-screen-lg mx-auto"><%= message %></p>
          <% end %>
        <% else %>
          <p class="font-bold max-w-screen-lg mx-auto"><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <main class="mx-auto max-w-screen-md my-14 px-5">
      <%= yield %>
    </main>
  </body>
</html>
